[Unit]
Description=VM Usage Monitoring Service
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/vm-usage-monitor
ExecStart=/usr/local/lib/vm_monitor/venv/bin/python /usr/local/lib/vm_monitor/vm_monitor_client.py --config /etc/vm_monitor/config.yaml
Restart=always
User=ubuntu
Group=ubuntu
StandardOutput=append:/var/log/vm_monitor_client/monitor.log
StandardError=append:/var/log/vm_monitor_client/monitor.log

[Install]
WantedBy=multi-user.target