[Unit]
Description=VM Usage API Service
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/vm-usage-monitor
ExecStart=/usr/local/lib/vm_monitor/venv/bin/python /usr/local/lib/vm_monitor/vm_monitor_api.py --config /etc/vm_monitor/config.yaml
Restart=always
User=ubuntu
Group=ubuntu
StandardOutput=append:/var/log/vm-usage-monitor/api.log
StandardError=append:/var/log/vm-usage-monitor/api.log

[Install]
WantedBy=multi-user.target