[Unit]
Description=VM Usage API Service
After=network.target vm-usage-monitor.service

[Service]
ExecStart=/usr/local/bin/vm_monitor_api --config /etc/vm_monitor_client/config.yaml
Restart=always
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/log/vm-usage-monitor
StandardOutput=append:/var/log/vm-usage-monitor/api.log
StandardError=append:/var/log/vm-usage-monitor/api.log

[Install]
WantedBy=multi-user.target