[Unit]
Description=Python Script for logging NVIDIA GPU usage
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/nvidia-monitor
ExecStart=python3 /home/ubuntu/nvidia-monitor/nvidia-monitor.py
Restart=always

[Install]
WantedBy=multi-user.target
